/body, html { / EXEMPLO 1 
    height: 100%;
    margin: 100px;
    padding: 100px;
    }
    .container {
    text-align: center;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: grid;/Colocar em grade 
    gap: 15px; /Espaço entre as colunas
    
    }
    .container div {
    padding: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    border-radius: 15px;
    
    }
    .header {
    background-color: #FFDE22;
    grid-column: 1/3;/Essa é a linha
    
    }
    .sidebar {background-color: #fdba3e;
    grid-row: 2/4; /Essa é a coluna
    }
    .nav {
    background-color: #ee8cff;

    }
    .article {
    background-color: #58779f;
    }
    .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
    }
    .footer {
    background-color: #040609;
    grid-column: 1/3;
    
    }
    .grid-container { 
        display: grid;
        grid-template: 50px 50px / 250px 50px 50px; 
        gap: 32px;
        
    } 
    */
    
    body, html {
        padding:100px; EXEMPLO2 
        margin: 250px;
        }
.container {
        text-align: center;
        width: 100%;
        padding: 16px;
        box-sizing: border-box;
        display: grid;
        gap: 15px; 
        
        }
        .container div {
        padding: 15px;
        font-size: 32px;
        font-family: Helvetica;
        font-weight: bold;
        color: white;
        border-radius: 15px;
        
        }
        .header {
        background-color: #FFDE22;
        grid-column: 1/3;
        
        }
        .sidebar {
        background-color: #fdba3e;
        grid-row: 2/4; 
        }
        .nav {
        background-color: #ee8cff;
    
        }
        .article {
        background-color: #58779f;
        }
        .article p {
        font-size: 18px;
        font-family: sans-serif;
        color: white;
        text-align: left;
        }
        .footer {
        background-color: #040609;
        grid-column: 1/3;
        
        }
        .grid-container { 
            display: grid;
            grid-template: 50px 50px / 250px 50px 50px; 
            gap: 32px;
            
        } 
        */
